.notion-header {
  background-color: rgb(192 224 223 / 70%);
  backdrop-filter: saturate(180%) blur(10px);
  overflow: visible;
}

.notion-header .notion-nav-header {
  max-width: 1100px;
  margin: 0 auto;
  overflow-x: auto;
  font-size: 1rem;

  .burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    position: relative;
    height: 35px;
    width: 30px;

    .bar {
      position: absolute;
      left: 3px;
      height: 3px;
      width: 25px;
      background-color: black;
      margin: 4px 0;
      transition: 0.3s;
      transform: rotate(0deg);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 2px;
      }

      &:nth-child(2) {
        top: 12px;
      }

      &:nth-child(3) {
        top: 22px;
      }
    }

    &.open {
      .bar:nth-child(1) {
        top: 11px;
        transform: rotate(135deg);
      }

      .bar:nth-child(2) {
        opacity: 0;
        left: -25px;
      }

      .bar:nth-child(3) {
        top: 11px;
        transform: rotate(-135deg);
      }
    }

  }

  .navbar-links {
    gap: 0.5rem;
  }
}

@media (max-width: 600px) {
  .notion-header .notion-nav-header {
    .burger-menu {
      display: flex;
    }
  }

  .notion-header .notion-nav-header .navbar-links{
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 0%;
    padding: 0;
    transition: right 0s;
    right: 0;
    font-size: 1.3rem;
    gap: 1.5rem;

    .button {
      visibility: hidden;
      position: absolute;
      right: 0;
    }

    &.open {
      display: flex;
      width: 70%;
      position: fixed;
      top: 55px;
      border-radius: 5px;
      height: 50vh;
      background-color: rgb(192 224 223 / 100%);
      backdrop-filter: saturate(180%) blur(10px);
      transition: width 0.25s ease-in-out;
      .button {
        width: 100%;
        visibility: visible;
        position: static;
      }
    }
  }
}

.dark-mode .notion-header,
.dark-mode .navbar-links.open {
  background-color:  rgb(85 125 124 / 95%) !important;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: saturate(180%) blur(20px) !important;
}

.dark-mode .bar {
  background-color: white !important;
}

/* Workaround for Firefox not supporting backdrop-filter yet */
@-moz-document url-prefix() {
  .dark-mode .notion-header {
    background: hsla(203, 8%, 20%, 0.8);
  }
}



